.vscode
.turbo

/apps/*/dist
/apps/*/.turbo
/apps/*/.sanity
/apps/node_modules

/locales/*/dist
/locales/*/.turbo
/locales/node_modules

pnpm-lock.yaml

CHANGELOG.md
.release-please-manifest.json
tsconfig.json
tsconfig.locale.json
