# By default, assign the studio team.
# Later matching rules will take precedence.
/apps @sanity-io/studio
/locales/registry.ts @sanity-io/studio
/src @sanity-io/studio
/test @sanity-io/studio

# Root of the repo
/* @sanity-io/studio
