# By default, assign the studio developer experience team.
# Later matching rules will take precedence.
/apps @sanity-io/locales-reviewers
/locales/registry.ts @sanity-io/locales-reviewers
/src @sanity-io/locales-reviewers
/test @sanity-io/locales-reviewers

# Root of the repo
/* @sanity-io/locales-reviewers
