name: AI translate labels

on:
  pull_request_review:
    types: [submitted]

permissions:
  contents: read # for checkout
  pull-requests: write # for adjusting labels

jobs:
  adjust:
    name: Adjust labels
    if: contains(github.event.pull_request.head.ref, 'fix/auto/')
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 20

      - name: Use pnpm
        run: corepack enable && pnpm --version

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Adjust labels
        run: pnpm run ci:adjust-labels
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
